RewriteEngine On

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

RewriteCond %{REQUEST_URI} ^/(api|includes) [NC]
RewriteRule ^ - [L]

RewriteRule ^home$ /front/WelcomePage/index.html [L]

RewriteRule ^login$ /front/LoginPage/LoginPage.html [L]

RewriteRule ^register$ /front/RegisterPage/RegisterPage.html [L]

RewriteRule ^aboutus$ front/AboutUsPage/AboutUs.html [L]

RewriteRule ^profile$ front/ProfilePage/ProfilePage.html [L]

RewriteRule ^difficulty$ front/MainGamePage/MainGamePage.html [L]

RewriteRule ^game$ front/GamePage/GamePage.html [L]

RewriteRule ^finish$ /front/FinishGamePage/FinishGamePage.html [L]

RewriteRule ^admin$ /front/AdminPage/admin.html [L]

RewriteRule ^rank$ /front/RankPage/RankPage.html [L]

RewriteRule ^unauthorized$ /front/NotAuthorizedPage/NotAuthorized.html [L]
